*{
    margin: 0px;
    padding: 0px;
}

@media (max-width: 768px) {
    
    div.um{
        max-width: 500px;
    }

    div#dois > h1{
        font-size: 1.5em;
    }

    div#dois{
        max-width: 400px;
    }

    div.task{
        max-width: 300px;
    }

    div#ad_tasks{
        max-width: 300px;
    }

    div#ad_tasks input[type="text"]{
        max-width: 250px;

    }

    div#ad_tasks button{
        max-width: 250px;
    }

}

div.um{
    padding: 24px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

div#dois{
    width: 600px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-between;
}

div#dois > h1{
    color: white;
}

div.task{
    margin-top: 20px;
    background-color: #647d85;
    width: 500px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px black;
}

div.task ul{
    padding: 10px;
}

div.task li{
    margin: 10px;
    list-style-type: none;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;

}

div.task li button#text{
    background-color: #3a5258;
    padding: 10px;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    width: 100%;
    text-align: left;
    margin-right: 10px;
    border: none;
}

div.task li button#text:hover{
    cursor: pointer;
}

div.task li button#botão{
    background-color: #3a5258;
    padding: 5px;
    border: none;
    border-radius: 5px;
    text-align: center;
    margin: 0px 5px;
}

div.task li button#botão:hover{
    color: white;
    cursor: pointer;
    transition: .5s;
}

div#ad_tasks{
    height: 200px;
    width: 500px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-evenly;
}

div#ad_tasks input[type="text"]{
    width: 450px;
    height: 40px;
    border-radius: 5px;
    border: none;
    font-size: 1em;
    outline: 1px solid teal;
}

div#ad_tasks button{
    width: 450px;
    height: 40px;
    background-color: #506369;
    color: white;
    font-size: 1em;
    border-radius: 5px;
    border: none;
}

div#ad_tasks button:hover{
    background-color: #80a3ad;
}